serviceAccount:
  create: false
  name: monitoring

minio:
  enabled: false

loki:
  image:
    registry: docker.io
    repository: grafana/loki
    tag: 3.5.1
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  storage_config:
    aws:
      region: ap-northeast-2
      bucketnames: demo-prod-loki-store
      s3forcepathstyle: false
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    retention_period: 672h # 28 days retention

    ingestion_rate_mb: 30
    ingestion_burst_size_mb: 80
    ingestion_rate_strategy: global

    per_stream_rate_limit: 5MB
    per_stream_rate_limit_burst: 10MB

    max_cache_freshness_per_query: 10m
    max_global_streams_per_user: 60000
    max_query_length: 12000h
    max_query_parallelism: 16
    max_query_series: 800
  querier:
    max_concurrent: 4

  storage:
    type: s3
    bucketNames:
      chunks: demo-prod-loki-chunks
      ruler: demo-prod-loki-ruler
      admin: demo-prod-loki-admin
    s3:
      # s3 URL can be used to specify the endpoint, access key, secret key, and bucket name this works well for S3 compatible storages or if you are hosting Loki on-premises and want to use S3 as the storage backend. Either use the s3 URL or the individual fields below (AWS endpoint, region, secret).
      # s3: s3://access_key:secret_access_key@custom_endpoint/bucket_name
      # AWS endpoint URL
      endpoint: https://s3.ap-northeast-2.amazonaws.com
      # AWS region where the S3 bucket is located
      region: ap-northeast-2
      # AWS secret access key
      # secretAccessKey: ""
      # AWS access key ID
      # accessKeyId: ""
      # AWS signature version (e.g., v2 or v4)
      signatureVersion: v4
      # Forces the path style for S3 (true/false)
      s3ForcePathStyle: false
      # Allows insecure (HTTP) connections (true/false)
      insecure: false
      # HTTP configuration settings
      http_config: {}

  ui:
    enabled: true

deploymentMode: SimpleScalable

backend:
  replicas: 2
read:
  replicas: 2
write:
  replicas: 2

# Memcached for chunks cache
chunksCache:
  resources:
    requests:
      cpu: 100m
      memory: 5418Mi
    limits:
      memory: 5418Mi

resultsCache:
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      memory: 100Mi

memcachedExporter:
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      memory: 100Mi

gateway:
  enabled: true
  replicas: 1
  containerPort: 8080
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 250m
      memory: 500Mi
    limits:
      cpu: 250m
      memory: 500Mi
  service:
    port: 80
    type: ClusterIP
  ingress:
    enabled: true
    ingressClassName: alb
    annotations:
      alb.ingress.kubernetes.io/scheme: internal
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
      alb.ingress.kubernetes.io/load-balancer-name: loki-gateway-prod-in
      alb.ingress.kubernetes.io/healthcheck-interval-seconds: "6"
      alb.ingress.kubernetes.io/healthy-threshold-count: "2"
      alb.ingress.kubernetes.io/healthcheck-path: /
      external-dns.alpha.kubernetes.io/hostname: loki-gateway.prod.iexample-org.com
      external-dns.alpha.kubernetes.io/set-identifier: loki-gateway-prod-private
      external-dns.alpha.kubernetes.io/aws-weight: "100"
      external-dns.alpha.kubernetes.io/ingress-hostname-source: annotation-only
    hosts:
      - host: loki-gateway.prod.iexample-org.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - loki-gateway.prod.iexample-org.com