DB_USER={{ prod['db/username'] }}
DB_PASSWORD={{ prod['db/password'] }}

DB_NAME=ALWAYZ
DB_NAME_EXTERNAL=ALWAYZ
DB_NAME_CRM=ALWAYZ
DB_NAME_ALFARM=ALWAYZ
DB_NAME_LOG=Log

DB_HOST_MAIN=cluster0.xxxxx.mongodb.net
DB_HOST_USER=user.xxxxx.mongodb.net
DB_HOST_CRM=crm.xxxxx.mongodb.net
DB_HOST_LOG=log.xxxxx.mongodb.net
DB_HOST_ITEM=item.xxxxx.mongodb.net
DB_HOST_ALFARM=alfarm.xxxxx.mongodb.net
DB_HOST_ALFARM_LOG=alfarm-log.xxxxx.mongodb.net
DB_HOST_ALFARM_MICRO=alfarm-micro.xxxxx.mongodb.net
DB_HOST_ALMART=almart.xxxxx.mongodb.net
DB_HOST_ALLULU=allulu.xxxxx.mongodb.net
DB_HOST_ALLULU_LOG=allululog.xxxxx.mongodb.net
DB_HOST_INCUBATOR=incubator.xxxxx.mongodb.net
DB_HOST_EXTERNAL=external.xxxxx.mongodb.net
DB_HOST_SELLER=seller.xxxxx.mongodb.net

SLACK_TOKEN={{ prod['slack/token'] }}
SLACK_WEBHOOK_URL={{ prod['slack/webhook_url'] }}
ENABLE_SLACK=true

DATADOG_API_KEY={{ prod['datadog/api_key'] }}


DB_CLUSTER0_URL=cluster0.db.prod.example.com
DB_USER_URL=user.db.prod.example.com
DB_CRM_URL=crm.db.prod.example.com
DB_LOG_URL=log.db.prod.example.com
DB_ITEM_URL=item.db.prod.example.com
DB_ALFARM_URL=alfarm.db.prod.example.com
DB_ALFARM_LOG_URL=alfarm-log.db.prod.example.com
DB_ALFARM_MICRO_URL=alfarm-micro.db.prod.example.com
DB_ALMART_URL=almart.db.prod.example.com
DB_ALLULU_URL=allulu.db.prod.example.com
DB_ALLULU_LOG_URL=allulu-log.db.prod.example.com
DB_INCUBATOR_URL=incubator.db.prod.example.com
DB_EXTERNAL_URL=external.db.prod.example.com
DB_SELLER_URL=seller.db.prod.example.com

USE_INTERNAL_DB=true
PAGERDUTY_API_KEY={{ prod['PAGERDUTY_API_KEY'] }}