DB_USER={{ dev['db/username'] }}
DB_PASSWORD={{ dev['db/password'] }}

DB_NAME=DEMO
DB_NAME_EXTERNAL=DEMO
DB_NAME_CRM=DEMO
DB_NAME_ALFARM=DEMO
DB_NAME_LOG=Log

SLACK_TOKEN={{ dev['slack/token'] }}
SLACK_WEBHOOK_URL={{ dev['slack/webhook_url'] }}
ENABLE_SLACK=false

DATADOG_API_KEY={{ dev['datadog/api_key'] }}
