DB_USER={{ dev['db/username'] }}
DB_PASSWORD={{ dev['db/password'] }}

DB_NAME=DEMO
DB_NAME_GLOBAL=GLOBAL
DB_NAME_LOG=Log
DB_NAME_DRAMA=drama
DB_NAME_CATALOG=catalog

ADMIN_BACKEND_URL_PRODUCTION=https://admin-back.example.com
ACCESS_TOKEN_SECRET_DEVELOPMENT={{ env['access_token_secret'] }}

SWEET_TRACKER_API_KEY={{ dev['sweet_tracker/api_key'] }}
ONE_SIGNAL_APP_ID={{ dev['one_signal/app_id'] }}
ONE_SIGNAL_API_KEY={{ dev['one_signal/api_key'] }}
NCP_ACCESS_KEY={{ dev['ncp/access_key'] }}
NCP_SECRET_KEY={{ dev['ncp/secret_key'] }}
NCP_SMS_SERVICE_ID={{ env['ncp/sms_service_id'] }}
FIREBASE_API_KEY={{ dev['firebase/api_key'] }}
OAUTH_DEAL_MAIL_INTERN_USER=user1@example.com
OAUTH_WINNER_MAIL_USER=user2@example.com
OAUTH_BRAND_MAIL_USER=user3@example.com
OAUTH_AD_MAIL_USER=user4@example.com
OAUTH_REPORT_USER=user5@example.com
OAUTH_FASHION_MAIL_INTERN_USER=user6@example.com
AWS_KEY_ID={{ dev['aws/key_id'] }}
AWS_SECRET_KEY={{ dev['aws/secret_key'] }}
S3_REGION=ap-northeast-2
S3_BUCKET_NAME=example-assets
SLACK_TOKEN={{ dev['slack/token'] }}
SLACK_WEBHOOK_URL={{ dev['slack/webhook_url'] }}
ENABLE_SLACK=false
BACKEND_SERVER=https://shop.example.com
ACCESS_TOKEN_SECRET={{ env['access_token_secret'] }}
ADMIN_USERID={{ env['admin/user_id'] }}

DATADOG_API_KEY={{ dev['datadog/api_key'] }}

ELASTIC_SEARCH_CLOUD_ID={{ env['es/cloud_id'] }}
ELASTIC_SEARCH_USERNAME=elastic
ELASTIC_SEARCH_PASSWORD={{ env['es/password'] }}
ELASTIC_SEARCH_API_KEY={{ env['es/api_key'] }}
DANAWA_API_KEY={{ env['danawa/api_key'] }}
REDIS_URL=redis://localhost:7000
REDIS_URL_DEVELOPMENT=redis://localhost:7000

PG_DB_SHOPIN_PRODUCTION_USER={{ prod['pg_db/shopin_user'] }}
PG_DB_SHOPIN_PRODUCTION_PASSWORD={{ prod['pg_db/shopin_password'] }}
PG_DB_SHOPIN_PRODUCTION_HOST={{ prod['pg_db/shopin_host'] }}