DB_USER={{ dev['db/username'] }}
DB_PASSWORD={{ dev['db/password'] }}

DB_NAME=ALWAYZ
DB_NAME_EXTERNAL=ALWAYZ
DB_NAME_CRM=ALWAYZ
DB_NAME_ALFARM=ALWAYZ
DB_NAME_LOG=Log

DB_HOST_MAIN=cluster0.db.dev.example.com
DB_HOST_USER=user.db.dev.example.com
DB_HOST_CRM=crm.db.dev.example.com
DB_HOST_LOG=log.db.dev.example.com
DB_HOST_ITEM=item.db.dev.example.com
DB_HOST_ALFARM=alfarm.db.dev.example.com
DB_HOST_ALFARM_LOG=alfarm.db.dev.example.com
DB_HOST_ALFARM_MICRO=alfarm.db.dev.example.com
DB_HOST_ALMART=almart.db.dev.example.com
DB_HOST_ALLULU=allulu.db.dev.example.com
DB_HOST_ALLULU_LOG=allulu-log.db.dev.example.com
DB_HOST_INCUBATOR=incubator.db.dev.example.com
DB_HOST_EXTERNAL=external.db.dev.example.com
DB_HOST_SELLER=seller.db.dev.example.com

SLACK_TOKEN={{ dev['slack/token'] }}
SLACK_WEBHOOK_URL={{ dev['slack/webhook_url'] }}
ENABLE_SLACK=false

DATADOG_API_KEY={{ dev['datadog/api_key'] }}
PAGERDUTY_API_KEY={{ dev['PAGERDUTY_API_KEY'] }}