DB_USER={{ prod['db/username'] }}
DB_PASSWORD={{ prod['db/password'] }}

DB_NAME=ALWAYZ
DB_NAME_ALRANCH=ALRANCH
DB_NAME_GLOBAL=GLOBAL
DB_NAME_EXTERNAL=ALWAYZ
DB_NAME_CRM=ALWAYZ
DB_NAME_ALFARM=ALWAYZ
DB_NAME_LOG=Log
DB_NAME_DRAMA=drama
DB_NAME_SKU_CATALOG=catalog

DB_HOST_MAIN=cluster0.xxxxx.mongodb.net.
DB_HOST_ITEM=item.xxxxx.mongodb.net.
DB_HOST_RECO=recommendation.xxxxx.mongodb.net.
DB_HOST_GLOBAL_ITEM=item-global.xxxxx.mongodb.net.
DB_HOST_GLOBAL_ORDER=order-global.xxxxx.mongodb.net.
DB_HOST_GLOBAL_USER=user-global.xxxxx.mongodb.net.
DB_HOST_GLOBAL_SIGNIN=signin-global.xxxxx.mongodb.net.
DB_HOST_EXTERNAL=external.xxxxx.mongodb.net.
DB_HOST_CRM=crm.xxxxx.mongodb.net.
DB_HOST_ALFARM=alfarm.xxxxx.mongodb.net.
DB_HOST_ALFARM_LOG=alfarm-log.xxxxx.mongodb.net.
DB_HOST_ALFARM_MICRO=alfarm-micro.xxxxx.mongodb.net.
DB_HOST_LOG=log.xxxxx.mongodb.net.
DB_HOST_SHORTS=shorts.xxxxx.mongodb.net.
DB_HOST_USER=user.xxxxx.mongodb.net.
DB_HOST_SELLER=seller.xxxxx.mongodb.net.
DB_HOST_CHECKIN=checkin.xxxxx.mongodb.net.
DB_HOST_ALLULU=allulu.xxxxx.mongodb.net.
DB_HOST_ALLULU_LOG=allululog.xxxxx.mongodb.net.
DB_HOST_ALTOON=altoon.xxxxx.mongodb.net.
DB_HOST_ALRANCH=alranch.xxxxx.mongodb.net.
DB_HOST_INCUBATOR=incubator.xxxxx.mongodb.net.

SWEET_TRACKER_API_KEY={{ prod['sweet_tracker/api_key'] }}
ONE_SIGNAL_APP_ID={{ prod['one_signal/app_id'] }}
ONE_SIGNAL_API_KEY={{ prod['one_signal/api_key'] }}
NCP_ACCESS_KEY={{ prod['ncp/access_key'] }}
NCP_SECRET_KEY={{ prod['ncp/secret_key'] }}
NCP_SMS_SERVICE_ID={{ env['ncp/sms_service_id'] }}
FIREBASE_API_KEY={{ prod['firebase/api_key'] }}
OAUTH_DEAL_MAIL_INTERN_USER=user1@example.com
OAUTH_WINNER_MAIL_USER=user2@example.com
OAUTH_BRAND_MAIL_USER=user3@example.com
OAUTH_AD_MAIL_USER=user4@example.com
OAUTH_REPORT_USER=user5@example.com
OAUTH_FASHION_MAIL_INTERN_USER=user6@example.com
AWS_KEY_ID={{ prod['aws/key_id'] }}
AWS_SECRET_KEY={{ prod['aws/secret_key'] }}
S3_REGION=ap-northeast-2
S3_BUCKET_NAME=example-assets
SLACK_TOKEN={{ prod['slack/token'] }}
SLACK_WEBHOOK_URL={{ prod['slack/webhook_url'] }}
ENABLE_SLACK=true
BACKEND_SERVER=https://shop.example.com
ACCESS_TOKEN_SECRET={{ env['access_token_secret'] }}
ADMIN_USERID={{ env['admin/user_id'] }}
ADMIN_BACKEND_URL_PRODUCTION=https://admin-back.example.com
SELLER_BACKEND_URL_PRODUCTION=https://seller-back.example.com
ALWAYZ_PRICE_API_SERVER_PRODUCTION=https://price-api.prod.example.com

DATADOG_API_KEY={{ prod['datadog/api_key'] }}

ELASTIC_SEARCH_CLOUD_ID={{ env['es/cloud_id'] }}
ELASTIC_SEARCH_USERNAME=elastic
ELASTIC_SEARCH_PASSWORD={{ env['es/password'] }}
ELASTIC_SEARCH_API_KEY={{ env['es/api_key'] }}
DANAWA_API_KEY={{ env['danawa/api_key'] }}
REDIS_URL=redis://example-cache.xxxxx.clustercfg.apn2.cache.amazonaws.com:6379

DB_CRM_URL=crm.db.prod.example.com
DB_CLUSTER0_URL=cluster0.db.prod.example.com
DB_ITEM_URL=item.db.prod.example.com
DB_USER_URL=user.db.prod.example.com
DB_SELLER_URL=seller.db.prod.example.com
DB_EXTERNAL_URL=external.db.prod.example.com
DB_LOG_URL=log.db.prod.example.com
DB_ALFARM_URL=alfarm.db.prod.example.com
DB_ALFARM_MICRO_URL=alfarm-micro.db.prod.example.com
DB_ALFARM_LOG_URL=alfarm-log.db.prod.example.com
DB_DAILY_CHECK_IN_URL=checkin.db.prod.example.com
DB_SHORTS_URL=shorts.db.prod.example.com
DB_ALTOON_URL=altoon.db.prod.example.com
DB_ALLULU_URL=allulu.db.prod.example.com
DB_ALLULU_LOG_URL=allulu-log.db.prod.example.com
DB_INCUBATOR_URL=incubator.db.prod.example.com
DB_ALRANCH_URL=alranch.db.prod.example.com
DB_SKU_CATALOG_URL=sku-catalog.db.prod.example.com

USE_INTERNAL_DB=true

DB_CONNECTION_POOL_SIZE=30

PG_DB_SHOPIN_PRODUCTION_USER={{ prod['pg_db/shopin_user'] }}
PG_DB_SHOPIN_PRODUCTION_PASSWORD={{ prod['pg_db/shopin_password'] }}
PG_DB_SHOPIN_PRODUCTION_HOST={{ prod['pg_db/shopin_host'] }}