{{- range .Values.config }}
{{- $name := (printf "%s-%s" (.name) "pgbouncer-exporter") }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $name }}
  labels:
    app.kubernetes.io/name: {{ $name }}
    {{- include "prometheus-pgbouncer-exporter.labels" $ | nindent 4 }}
spec:
  replicas: {{ .replicaCount | default $.Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "prometheus-pgbouncer-exporter.labels" $ | nindent 6 }}
      instance/label: {{ .name }}
  template:
    metadata:
      labels:
        {{- include "prometheus-pgbouncer-exporter.labels" $ | nindent 8 }}
        instance/label: {{ .name }}
      {{- if $.Values.podLabels }}
      {{ toYaml $.Values.podLabels | indent 8 }}
      {{- end }}
      annotations:
        kubectl.kubernetes.io/default-container: {{ $.Chart.Name }}
      {{- if $.Values.annotations }}
      {{ toYaml $.Values.annotations | indent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ template "prometheus-pgbouncer-exporter.serviceAccountName" $ }}
      containers:
        - name: {{ $.Chart.Name }}
          command: []
          args:
            - "--web.listen-address=:{{ $.Values.service.targetPort }}"
            {{- if .logLevel }}
            - "--log.level={{ .logLevel }}"
            {{- end }}
            {{- if .logFormat }}
            - "--log.format={{ .logFormat }}"
            {{- end }}
            - "--pgBouncer.connectionString=user='$(DATA_SOURCE_USER)' password='$(DATA_SOURCE_PASS)' host={{ .host }} port={{ .port }} dbname={{ .database }} sslmode='{{ .sslmode }}'"
          env:          
            - name: DATA_SOURCE_USER
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.existingSecret.name }}
                  key: username
            {{- if .passwordFile }}
            - name: DATA_SOURCE_PASS_FILE
              value: {{ .passwordFile }}
            {{- else }}
            - name: DATA_SOURCE_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.existingSecret.name }}
                  key: password
            {{- end }}
          image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag | default $.Chart.AppVersion }}"
          imagePullPolicy: {{ $.Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ $.Values.service.targetPort }}
              protocol: TCP
          livenessProbe:
            initialDelaySeconds: {{ $.Values.livenessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ $.Values.livenessProbe.timeoutSeconds }}
            httpGet:
              path: /
              port: http
          readinessProbe:
            initialDelaySeconds: {{ $.Values.readinessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ $.Values.readinessProbe.timeoutSeconds }}
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml $.Values.resources | nindent 12 }}
          volumeMounts:
            {{- with $.Values.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}

      {{- with $.Values.extraContainers }}
      {{ toYaml . | nindent 6 }}
      {{- end }}

      {{- if $.Values.hostAliases }}
      hostAliases:
        {{- toYaml $.Values.hostAliases | nindent 8 }}
      {{- end }}

      {{- with $.Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with $.Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with $.Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      volumes:
        {{- with $.Values.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
{{- end }}