datadog:
  clusterName: demo-dev-eks

  clusterChecks:
    enabled: false

  kubelet:
    useApiServer: true # API 서버를 통해 pod 목록 조회
    tlsVerify: false

  tags:
    - "env:dev"
    - "cluster:demo-dev-eks"

  env:
    # hostname을 노드명으로 설정
    - name: DD_HOSTNAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    - name: DD_APM_IGNORE_RESOURCES
      value: "GET /health-check"

clusterAgent:
  image:
    tag: 7.68.0
  resources:
    requests:
      cpu: 100m
      memory: 503Mi
    limits:
      memory: 503Mi

agents:
  image:
    tag: 7.68.0
  containers:
    agent:
      resources:
        requests:
          cpu: 90m
          memory: 270Mi
        limits:
          memory: 270Mi
    traceAgent:
      resources:
        requests:
          cpu: 50m
          memory: 100Mi
        limits:
          memory: 100Mi
      volumeMounts:
        - name: sysprobe-socket-dir
          mountPath: /var/run/sysprobe
          readOnly: true
    processAgent:
      resources:
        requests:
          cpu: 50m
          memory: 100Mi
        limits:
          memory: 100Mi
    systemProbe:
      resources:
        requests:
          cpu: 100m
          memory: 482Mi
        limits:
          memory: 482Mi
  tolerations:
    - operator: Equal
      key: CoreAddonsOnly
      value: "true"
      effect: NoSchedule
    - operator: Equal
      key: DemoServicesOnly
      value: "true"
      effect: NoSchedule
