replicaCount: 1

image:
  repository: 123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/db/example-org-pgbouncer:2.0.0
  pullPolicy: IfNotPresent
  tag: "1.0.5"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccountName: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

service:
  type: LoadBalancer
  port: 6432

resources:
  requests:
    memory: 2Gi
  limits:
    memory: 3Gi

data:
  - name: prod-test-item-write
    service_db: item
    host_adress: prod-test-cluster.cluster-c3epvhkyjnng.ap-northeast-2.rds.amazonaws.com port=5432
    
    logfile: /var/log/postgresql/pgbouncer.log
    pidfile: /var/run/postgresql/pgbouncer.pid

    replica_count: 2

    listen_addr: 0.0.0.0
    listen_port: 6432
    
    pool_mode: session
    
    max_client_conn: 8000
    default_pool_size: 300
    
    unix_socket_dir: /tmp
    unix_socket_mode: 0777
    
    auth_type: md5
    auth_file: /etc/pgbouncer/userlist.txt
    
    admin_users: pgbouncer
    stats_users: pgbouncer
    auth_dbname: postgres
    
    client_idle_timeout: 600

    server_lifetime: 3600
    server_idle_timeout: 3600
    server_round_robin: 1
    
    dns_max_ttl: 15
    dns_max_used_counter_ttl: 50
    dns_invalidate_conn_when_ip_changed: 1

    ignore_startup_parameters: "extra_float_digits"

  - name: prod-test-item-read
    service_db: item
    host_adress: prod-test-cluster.cluster-ro-c3epvhkyjnng.ap-northeast-2.rds.amazonaws.com port=5432
    
    logfile: /var/log/postgresql/pgbouncer.log
    pidfile: /var/run/postgresql/pgbouncer.pid

    replica_count: 2

    listen_addr: 0.0.0.0
    listen_port: 6432
    
    pool_mode: session
    
    max_client_conn: 8000
    default_pool_size: 300
    
    unix_socket_dir: /tmp
    unix_socket_mode: 0777
    
    auth_type: md5
    auth_file: /etc/pgbouncer/userlist.txt
    
    admin_users: pgbouncer
    stats_users: pgbouncer
    auth_dbname: postgres
    
    client_idle_timeout: 600

    server_lifetime: 3600
    server_idle_timeout: 3600
    server_round_robin: 1
    
    dns_max_ttl: 15
    dns_max_used_counter_ttl: 50
    dns_invalidate_conn_when_ip_changed: 1      

    ignore_startup_parameters: extra_float_digits

autoscaling: {}

volumes: []

volumeMounts: []

nodeSelector: {}

affinity: {}

secret:
  name: "pgbouncer-userlist-secret"
  secretKey: "demo/prod/db/pgbouncer/userlist"