{{- if or .Values.ingress .Values.global.ingress }}
{{- if not .Values.rollout.enabled }}
{{- $appName := include "base-helm.realname" . -}}
{{- range $index, $ingress := default .Values.global.ingress .Values.ingress }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  {{- if $ingress.name }}
  name: {{ $ingress.name }}
  {{- else }}
  name: {{ printf "%s-%d" $appName $index }}
  {{- end }}
  labels:
    {{- include "base-helm.labels" $ | nindent 4 }}
  annotations:
    {{- include "base-helm.alb.annotations" $ | nindent 4 }}
    {{- with $ingress.annotations }}{{ toYaml . | trim | nindent 4 }}{{- end }}
spec:
  ingressClassName: alb
  rules:  
    {{- range $rule := $ingress.rules }}
    - host: {{ $rule.host | quote }}
      http:
        paths:
          {{- range $path := $rule.paths }}
          - path: {{ $path.path | default "/" }}
            pathType: {{ $path.pathType | default "Prefix" }}
            backend:
              service:
                name: {{ $path.serviceName | default $appName }}
                port:
                  name: {{ $path.portName | default "http" }}
          {{- end }}
    {{- end }}
  {{- if $ingress.tls }}
  tls:
  {{- range $ingress.tls }}
    - hosts:
    {{- range .hosts }}
        - {{ quote . }}
    {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
