datadog:
  clusterName: demo-staging-eks

  clusterChecks:
    enabled: false

  kubelet:
    useApiServer: true # API 서버를 통해 pod 목록 조회
    tlsVerify: false

  tags:
    - "env:staging"
    - "cluster:demo-staging-eks"

  env:
    # hostname을 노드명으로 설정
    - name: DD_HOSTNAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    - name: DD_APM_IGNORE_RESOURCES
      value: "GET /health-check"

clusterAgent:
  image:
    tag: 7.68.0
  resources:
    requests:
      cpu: 100m
      memory: 318Mi
    limits:
      memory: 318Mi

agents:
  image:
    tag: 7.68.0
  containers:
    agent:
      resources:
        requests:
          cpu: 100m
          memory: 250Mi
        limits:
          memory: 250Mi
    traceAgent:
      resources:
        requests:
          cpu: 50m
          memory: 100Mi
        limits:
          memory: 100Mi
    processAgent:
      resources:
        requests:
          cpu: 50m
          memory: 100Mi
        limits:
          memory: 100Mi
    systemProbe:
      resources:
        requests:
          cpu: 100m
          memory: 450Mi
        limits:
          memory: 450Mi
  tolerations:
    - operator: Equal
      key: CoreAddonsOnly
      value: "true"
      effect: NoSchedule
    - operator: Equal
      key: AlwayzServicesOnly
      value: "true"
      effect: NoSchedule
