name: "Auto Approve"

on:
  pull_request:
    branches:
      - main

env:
  IS_PROD: "no"

jobs:
  auto-approve:
    name: "Auto Approve"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 3
      - name: Check changes
        id: check-change
        run: |
          if git diff --quiet --exit-code ${{ github.sha }}^ ${{ github.sha }}^2 -- terraform/config/alwayz-aws-prod-infra.yml; then
            echo "No changes found in the 'terraform/config/alwayz-aws-prod-infra.yml' file. Approving the pull request."
          else
            echo "Changes found in the 'terraform/config/alwayz-aws-prod-infra.yml' file. Proceed with standard approval process."
            echo "IS_PROD=yes" >> $GITHUB_ENV
          fi
      - name: Auto Approve
        if: ${{ env.IS_PROD == 'no'}}
        uses: hmarr/auto-approve-action@v3
        with:
          review-message: "Auto approved automated PR"
